<!DOCTYPE html>
<html>
<head>
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="../../js/jquery-easyui-1.7.0/themes/bootstrap/easyui.css" />
    <link rel="stylesheet" type="text/css" href="../../js/jquery-easyui-1.7.0/themes/icon.css" />
    <script type="text/javascript" src="../../js/jquery-easyui-1.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/jquery-easyui-1.7.0/jquery.easyui.min.js"></script>
    <!-- 中文化 -->
    <script type="text/javascript" src="../../js/jquery-easyui-1.7.0/locale/easyui-lang-zh_CN.js"></script>
    <style type="text/css">
        *{font-family: 微软雅黑}
    </style>
</head>
<body class="easyui-layout">



<div data-options="region:'center'" >
    <div style="width:100%;height:100%;position: relative;">
        <div id="LeftMenuDiv" style="width: 202px;height:100%;display: inline-block;">
            <div class="easyui-panel" title="菜单列表" style="width:100%;height:100%;overflow-x:hidden;overflow-y:auto;" data-options="onOpen:onPanelOpen">
                <div id="LeftMenu" style="">
                </div>
            </div>
        </div>

        <div id="mainTab" class="easyui-tabs" data-options="fit:true" style="display: inline-block; position: absolute;">
            <div title="首页" data-options="closable:false" style="overflow:hidden;background-color:#fff;">
                <iframe scrolling="auto" frameborder="0" src="" style="width:100%;height:100%"></iframe>
            </div>
        </div>
    </div>

</div>

<link rel="stylesheet" type="text/css" href="../../css/admin/sidemenu_style.css">
<script type="text/javascript">
    var data = [{
        text: '课程管理',
        iconCls: 'fa fa-wpforms',
        children: [{
            text: '视频管理',
           href:'/admin/file/tolist'
        },{
            text: '发布课程',
           href:'/admin/course/toadd'
        },{
            text: '课程管理',
          href:'/admin/course/tolist'
        }]
    },{
        text: '系统设置',
        iconCls: 'fa fa-at',
        children: [{
            text: '用户管理',
            href:'/admin/user/tolist'
        },{
            text: '角色管理',
            href:'/admin/role/tolist'
        },{
            text: '授权'

        }]
    }];

    $("#LeftMenu").sidemenu({
        data:data,
        onSelect: function(node){
            console.log(node);

                if($("#mainTab").tabs("exists",node.text)){
                    $("#mainTab").tabs("select",node.text)
                }else{
                    var content = '<iframe id="iframe"  scrolling="auto" frameborder="0"  src="'+node.href+'" style="width:100%;height:99%"></iframe>';
                    $("#mainTab").tabs('add',{
                        title: node.text,
                        content:content,
                        closable:true
                    });
                }

        }
    })

    function onPanelOpen() {
        var panel = $(this);
        var _1e = panel.panel("header").children("div.panel-tool");
        _1e.children("a.panel-tool-collapse").hide();
        var _20 = "layout-button-left";// + _1f[dir];
        var t = _1e.children("a." + _20);
        if (!t.length) {
            t = $("<a href=\"javascript:;\"></a>").addClass(_20).appendTo(_1e);
            t.bind("click", { dir: "left" }, function (e) {
                if (e.target.className == "layout-button-right") {
                    e.target.className = "layout-button-left"
                    onWestExpand();
                    panel.panel("setTitle", panel.titleTemp);
                    panel.panel('resize', {
                        width: 202
                    });
                    var leftMenuDiv = $('#LeftMenuDiv');
                    leftMenuDiv.each(function () {
                        this.style.width = '202px';
                    });
                }
                else {
                    e.target.className = "layout-button-right"
                    onWestCollapse();
                    var opt = panel.panel('options');
                    panel.titleTemp = opt.title;
                    panel.panel("setTitle", "");
                    panel.panel('resize', {
                        width: 42
                    });
                    var leftMenuDiv = $('#LeftMenuDiv');
                    leftMenuDiv.each(function () {
                        this.style.width = '42px';
                    });
                }
                return false;
            });
        }
        //$(this).panel("options").collapsible ? t.show() : t.hide();
    }

    function onWestCollapse() {
        var opts = $('#LeftMenu').sidemenu('options');
        if (opts.collapsed != 'collapse') {
            $('#LeftMenu').sidemenu('collapse');
            $('#LeftMenu').sidemenu('resize', {
                width: 40
            });
        }
    }
    function onWestExpand() {
        var opts = $('#LeftMenu').sidemenu('options');
        if (opts.collapsed != 'expand') {
            $('#LeftMenu').sidemenu('expand');
            $('#LeftMenu').sidemenu('resize', {
                width: 200
            });
        }
    }
</script>
</body>
</html>