<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发布课程</title>

    <script type="text/javascript" src="../../js/jquery-easyui-1.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/layer/layer.js"></script>

    <link rel="stylesheet" type="text/css" href="../../js/jquery-easyui-1.7.0/themes/bootstrap/easyui.css" />
    <link rel="stylesheet" type="text/css" href="../../js/jquery-easyui-1.7.0/themes/icon.css" />

    <script type="text/javascript" src="../../js/jquery-easyui-1.7.0/jquery.easyui.min.js"></script>
    <!-- 中文化 -->
    <script type="text/javascript" src="../../js/jquery-easyui-1.7.0/locale/easyui-lang-zh_CN.js"></script>


    <link rel="stylesheet" href="../../js/webuploader/webuploader.css" />
    <style type="text/css">

        *{font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, Arial, sans-serif;}
        .line{
            width: 70%;
            margin-bottom: 30px;
            min-height: 28px;
            line-height: 28px;
            position: relative;}

        dt{
            float: left;
            width: 25%;
            padding-right: 40px;
            text-align: right;
            line-height: 28px;
        }
        .cover {
            width: 500px;
            height: 300px;
            background: #EEE;
            border: 1px solid #DDD;
            position: relative;
        }
        .cover img{

            width: 100%;
            height: 100%;
            position: absolute;
            left: 0px;
            top: 0px;

        }
        .cover #picker {
            text-align: center;
            z-index: 1000;
            margin: 80px auto 30px auto;
        }
        .cover p{padding-left: 80px;
            display: block;
            -webkit-margin-before: 1em;
            -webkit-margin-after: 1em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
            color: #6a6a6a;
        }
        .clear {
            clear: both;
            width: 0px;
            height: 0px;
            overflow: hidden;
        }
    </style>
<!--kindEditor-->
    <link rel="stylesheet" href="../../js/kindeditor/themes/default/default.css" />
    <script charset="utf-8" src="../../js/kindeditor/kindeditor-all-min.js"></script>
    <script charset="utf-8" src="../../js/kindeditor/lang/zh-CN.js"></script>
    <script src="../../js/webuploader/md5.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/webuploader/webuploader.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor1;
        KindEditor.ready(function(K) {
            editor1 = K.create('textarea[name="courseDetails"]', {
                uploadJson : '../jsp/upload_json.jsp',
                allowFileManager : false,
                items:[
                    'source', '|', 'undo', 'redo', '|',   'cut', 'copy', 'paste',
                    'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
                    'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
                    'superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen', '/',
                    'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
                    'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|',
                     'table', 'hr',  'pagebreak'
                ],
                afterCreate : function() {
                    var self = this;
                    K.ctrl(document, 13, function() {
                        self.sync();
                        document.forms['example'].submit();
                    });
                    K.ctrl(self.edit.doc, 13, function() {
                        self.sync();
                        document.forms['example'].submit();
                    });
                }
            });

        });

        $(document).ready(function(){
            //图片上传
            // 初始化Web Uploader
            var uploader = WebUploader.create({
                swf: "Uploader.swf",
                // 文件接收服务端。
                server : '/admin/course/uploadcover',
                pick: {
                    id: '#picker',
                    label: '点击选择图片'
                },
                auto:true,
                paste: document.body,
                //限制只能上传一个文件

                // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
                resize : false,
                // 只允许选择图片文件。
                accept: {
                    title: 'Images',
                    extensions: 'gif,jpg,jpeg,bmp,png',
                    mimeTypes: 'image/*'
                },
                chunked:false
            });

            uploader.on("uploadSuccess",function(file,response){

                $("#c_image_url").val(response.data);
                $("#upControl_IMG").attr("src","/"+response.data);
            })

            //分类
            $("#type1").combobox({
                url:'/admin/subject/findbyparentid',
                valueField:'id',
                textField:'subjectName',
                onSelect:function(record){
                    var parentid = record.id;
                    $("#type2").combobox({
                        url:'/admin/subject/findbyparentid?parentid='+parentid,
                        valueField:'id',
                        textField:'subjectName',
                        onSelect:function(record1){
                            $("#type3").combobox({
                                    url: '/admin/subject/findbyparentid?parentid=' + record1.id,
                                    valueField: 'id',
                                    textField: 'subjectName'
                                }
                            )
                        }
                    })
                }
            })

            //保存
            $("#btn_save").click(function(){
                editor1.sync();
                $.ajax({
                    type: "POST",
                    url: "/admin/course/add",
                    data: $("#ff").serialize(),
                    success: function(msg){
                        if(msg.status==200){

                        }else{
                            $.messager.alert('错误','创建失败',"error");
                        }
                    }
                });
            });
        })
    </script>

</head>
<body>

    <form id="ff" method="post" >
        <div style="margin-left: 30px">


                <div class="line">
                    <label for="courseName">课程标题:</label>
                    <input class="easyui-textbox" name="courseName" style="width:80%" data-options="required:true,prompt:'请填写课程标题，最多50字'">
                </div>


                <div class="line">
                    <label for="courseType1">分类:</label>
                    <input class="easyui-combobox" id="type1" name="courseSubject1" style="width:20%;" data-options="label:'一级分类'"/>
                    <input class="easyui-combobox" id="type2" name="courseSubject2" style="width:20%;" data-options="label:'二级分类'"/>
                    <input class="easyui-combobox" id="type3" name="courseSubject3" style="width:20%;" data-options="label:'三级分类'"/>
                </div>


                <div class="line">
                    <label for="courseDifficulty">课程难度:</label>
                    <input type="radio" name="courseDifficulty" value="初级" checked/>初级
                    <input type="radio" name="courseDifficulty" value="中级"/>中级
                    <input type="radio" name="courseDifficulty" value="高级"/>高级
                </div>

                <div class="line">
                    <label for="courseSummary">课程简介:</label>
                    <input class="easyui-textbox" name="courseSummary" style="width:80%;height:60px" data-options="prompt:'不能少于10字，方便用户快速匹配自己是否为该课程使用人群',required:true,multiline:true">
                </div>

                <div class="line">
                    <label for="courseCrowd">适用人群:</label>
                    <input class="easyui-textbox" name="courseCrowd" style="width:80%;" data-options="prompt:'10-150字,对课程内容进行简要介绍，方便用户快速了解课程价值',required:true,multiline:true">
                </div>

                <div class="line">
                    <label for="courseCrowd">课程详情:</label>
                    <textarea name="courseDetails" cols="100" rows="8" style="width:80%;height:200px;"></textarea>
                </div>



                <div class="line">
                    <label for="courseLabel">课程标签:</label>
                    <input class="easyui-textbox" name="courseLabel" style="width:80%;" data-options="prompt:'多个标签用空格进行间隔',required:true">
                </div>

                <div class="line">
                    <label >课程封面:</label>
                        <div class="cover">

                            <div id="picker">上传图片</div>
                            <p>文件大小：2M以内</p>
                            <p>支持格式：png/jpg/jpeg</p>
                            <p>尺寸规则：500px * 300px (此尺寸等比例缩放)</p>
                            <img src="" id="upControl_IMG">
                            <div class="upControl" id="upControl_Btn">&nbsp;</div>
                        </div>
                        <input type="hidden" name="courseCover" id="c_image_url" value=""/>

                </div>


                <div class="line">
                    <label for="coursePriceType">课程价格:</label>
                   <input type="radio" name="coursePriceType" value="免费" checked/>免费<span style="color: #6a6a6a;display: inline-block;margin-left: 20px">所有用户都可免费观看的视频</span>

                </div>
                <div class="line">
                    <label for="coursePriceType"></label>
                    <input type="radio" name="coursePriceType" value="付费"/>付费
                    <input class="easyui-textbox" name="coursePrice" style="display: inline-block;margin-left: 20px"/>
                </div>



            <div style="text-align: center" class="line">
                <a class="easyui-linkbutton" id="btn_save">保存</a>
                <a class="easyui-linkbutton">清空</a>
            </div>



        </div>
    </form>



</body>
</html>