<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>在线课程 | 魔豆IT教育</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="/css/modou.css" />
    <link rel="stylesheet" type="text/css" href="/css/minicourse.css">
    <script type="text/javascript" src="../../js/jquery-easyui-1.7.0/jquery.min.js"></script>
</head>
<body>
<div id="full-height-container">
    <!--引入头部-->
    <!--header start-->
    <div id="header">
        <div id="header_item">
            <div id="header_index">
                <div id="header-l">
                    <a href="//www.w3cschool.cn" title="w3cschool" class="logo"><img src="//7nsts.w3cschool.cn/images/w3c/header-logo.png" alt="W3Cschool" /></a>
                    <ul class="header-menu">
                        <li><a href="//www.w3cschool.cn/minicourse/" title="编程微课首页">编程微课首页</a></li>
                        <li><a href="//www.w3cschool.cn/minicourse/list" title="微课列表">编程课程列表</a></li>
                        <li><a href="//www.w3cschool.cn/codecamp/" title="编程实战列表">编程实战</a></li>
                        <li><a href="//www.w3cschool.cn/vip" title="会员">会员<i class="hot-icon"></i></a></li>
                    </ul>
                </div>
                <div id="header-r">
                    <div class="sig-box" >
                        <a href="/register?refer=/">注册</a><!-- href="/register?refer=/" --> |
                        <a href="/login?refer=/">登录</a>
                    </div>
                    <a href="//www.w3cschool.cn/download" target="_blank" class="header-app" title="w3cschool移动端">移动端
                        <div class="dropdown-content qrcode-box">
                            <span class="j"></span>
                            <div class="qrcode-img">
                                <img src="//7nsts.w3cschool.cn/images/w3c/app-qrcode2.png" alt="扫码下载APP" width="150" height="150">
                                <p>扫码下载APP</p>
                            </div>
                            <div class="qrcode-img">
                                <img src="//7nsts.w3cschool.cn/images/w3c/w3cschool.png" alt="w3cschool公众号" width="150" height="150">
                                <p>w3cschool公众号</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script>
        var apppath = '/minicourse/list';
        var domain  = '//www.w3cschool.cn';
    </script>
    <!--header end-->
    <div id="wrapper">
        <div class="bread-nav">
            <div class="current-position">
                <img src="//7nsts.w3cschool.cn/yimages/positionred.png" alt="编程微课首页" />
                <a href="//www.w3cschool.cn/minicourse">首页</a>
                &gt;&nbsp;<span>编程课程列表</span>
            </div>
        </div>
        <div class="course-content minicourse-content">
            <div class="step-title">
                <h2>视频课程列表</h2>
            </div>
            <ul class="course-item">


            </ul>
            <div class="clear"></div>


        </div>
    </div>
    <!--引入底部-->
    <!--footer start-->
    <div id="footer_item">
        <div id="footer">
            <div class="footer-box">
                <div class="footer-title">网站相关</div>
                <div class="footer-items">
                    <a href="//www.w3cschool.cn/about/about.html">关于我们</a>
                    <a href="//www.w3cschool.cn/about/join.html">加入我们</a>
                    <a href="//www.w3cschool.cn/about/disclaimer.html">免责声明</a>
                    <a href="//www.w3cschool.cn/sitemap/">网站地图</a>
                </div>
            </div>
            <div class="footer-box">
                <div class="footer-title">内容专区</div>
                <div class="footer-items">
                    <a href="//www.w3cschool.cn/tutorial" title="编程入门教程">编程入门教程</a>
                    <a href="//www.w3cschool.cn/manual" title="技术文档参考手册">极客文档</a>
                    <a href="//123.w3cschool.cn/webtools" title="编程在线工具">在线工具</a>
                    <a href="//www.w3cschool.cn/archives/" title="文章存档">文章存档</a>
                </div>
            </div>
            <div class="footer-box">
                <div class="footer-title">常用链接</div>
                <div class="footer-items">
                    <a href="//123.w3cschool.cn" title="技术学习极客导航">极客导航</a>
                    <a href="//www.w3cschool.cn/codecamp/" target="_blank" title="编程实战">编程实战</a>
                    <a href="//www.w3cschool.cn/download" target="_blank" title="w3cschool离线版下载">w3cschool离线下载</a>
                    <a href="//m.w3cschool.cn/" target="_blank" title="w3cschool手机版">w3cschool手机版</a>
                </div>
            </div>
            <div class="footer-box">
                <div class="footer-title">联系我们</div>
                <div class="footer-items">
                    <a target="_blank" href="https://www.w3cschool.cn/w3cschool/question-10232085.html" title="常见问题QA">常见问题QA</a>
                    <a target="_blank" href="//www.w3cschool.cn/links" title="友情链接">友情链接</a>
                    <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=69bf2226eb0fbd411c740b015055bab665fcef4721dbe974882223b476e2962e" ref="nofollow">官方QQ群：236419487</a>
                    <a target="_blank" href="//wpa.qq.com/msgrd?v=3&amp;uin=3532917531&amp;site=qq&amp;menu=yes" ref="nofollow">商务合作QQ：3532917531</a>
                </div>
            </div>
            <div class="footer-box">
                <div class="tcode"><img src="//7n.w3cschool.cn/statics/images/w3c/w3cschool.png?imageView2/1/w/100/h/100" alt="微信订阅号" width="100" height="100"></div>
                <p class="tcode-txt">微信号：w3cschoolcn</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>Copyright&copy;2018 亿动科技 <a href="//www.w3cschool.cn" title="w3cschool">w3cschool.cn </a> All Rights Reserved. 闽ICP备15016281号-3</p>
        </div>
    </div>
    <div id="dialogBackground" class="dialogBackground"></div>
    <div class="bottom-tools" style="bottom: 40px;">
        <a id="scrollUp" href="javascript:;" title="飞回顶部"></a>
        <a class="onlinenote" style="display: none;" title="在线笔记" href="javascript:;" data-module="page">在线笔记</a>
        <div class="qr-tool">二维码</div>
        <a id="feedback" class="webjy" title="建议反馈" href="javascript:;" data-module="page" onclick="showDialogBox(this)">建议反馈</a>
        <div class="qr-img"><img src="//7n.w3cschool.cn/statics/images/w3c/w3cschool.jpg?imageView2/1/w/100/h/100" alt="二维码"></div>
    </div>

    <div class="feedback-Box" style="display: none;">
        <div class="feedback-Box-content" style="width: 662px;">
            <div class="feedback-Box-top">
                <span class="feedback-Box-title">意见反馈</span>
                <span onclick="closeDialogBox(this)" class="feedback-Box-close">X</span>
            </div>
            <ul>
                <li class="feedback-box" >
                    <div id="feedbackRadio" type="radio" name="feedbackType" data-value="0" style=""> 意见反馈：</div>
                    <textarea  name="reportInfo" id="elmaaa" class="feedback-text" rows="15" placeholder="请留下您宝贵的意见反馈吧。"></textarea>
                    <p>联系方式：</p>
                    <input type="text" placeholder="留个联系方式呗..." name="reportAddress" class="radio-text" id="reportAddress" style="height: 30px;width: 200px;">
                </li>
            </ul>
            <button class="search-s" onclick="dialogSubmit(this)" id="reportSubmit">提交</button>
        </div>
    </div>

    <div id="note-start" style="display: none"></div>

    <div id="detail" style="display:none;">
        <div id="note-Dialog" class="note-Dialog" >

            <div class="note-Box-content" >
                <div class="ntitlebox">
                    <input type="text" placeholder="" name="ntitle" class="ntitle" id="ntitle" >
                </div>
                <div id="editorarea">
                    <textarea  name="ncontent" id="ncontent" class="ncontent" rows="15" placeholder="" style="width: 700px;height:200px;overflow:auto;" ></textarea>
                </div>
                <p></p>
                <a class="closenote" href="/my/note" target="_blank" >查看完整版笔记</a>
                <button class="notesubmit"  id="notesubmit">保存</button>
                <button class="notebtn pull-right closenote" style="margin:20px 0" >关闭</button>
            </div>
        </div>
    </div>
    <!--footer end-->

</div>
<script type="text/javascript">
$(document).ready(function(){
    $.ajax({
        type: "POST",
        url: "/course/list",
        dataType:"json",
        success: function(msg){
            if(msg.status==200){
                var courseList = msg.data;

                for(var i=0; i<courseList.length; i++){
                    $(".course-item").append('<li>' +
                        '    <div class="course-box">' +
                        '        <a title="'+courseList[i].courseName+'" href="/course/toview?id='+courseList[i].id+'" target="_blank">' +
                        '        <div class="course-img">' +
                        '        <img src="/'+courseList[i].courseCover+'" alt="'+courseList[i].courseName+'[精品视频课]" />' +
                        '        <span class="course-tag isoff-course-tag">第三方</span>' +
                        '        </div>' +
                        '        <div class="course-desc">' +
                        '        <h3>'+courseList[i].courseName+'</h3>' +
                        '        </div>' +
                        '        <div class="course-meta">' +
                        '        <span class="cur-price">免费</span>n' +
                        '        <span class="pull-right">2726人参与</span>' +
                        '    </div>' +
                        '    </a>' +
                        '    </div>' +
                        '    </li>');

                }

            }
        }
    });
})
</script>

<script src="/js/view-js/commonfooter.js" type="text/javascript"></script>
</body>
</html>