<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设置章节</title>
    <link rel="stylesheet" type="text/css" href="../../js/jquery-easyui-1.5.5.4/themes/default/easyui.css" />
    <link rel="stylesheet" type="text/css" href="../../js/jquery-easyui-1.5.5.4/themes/icon.css" />
    <script type="text/javascript" src="../../js/jquery-easyui-1.5.5.4/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/jquery-easyui-1.5.5.4/jquery.easyui.min.js"></script>
    <!-- 中文化 -->
    <script type="text/javascript" src="../../js/jquery-easyui-1.5.5.4/locale/easyui-lang-zh_CN.js"></script>
    <style type="text/css">
        *{font-family: 微软雅黑}
    </style>
</head>
<body>
<form>
<dl id="chapterdl"></dl>


</form>
<a href="javascript:void(0)" class="easyui-linkbutton" id="btn_addchapter" >添加章节</a>
<script type="text/javascript">

    $("#btn_addchapter").click(function(){
        addChapter();
    })

    function addChapter(){
        var chapternode = $("<dt></dt>").html("<input class='easyui-textbox' />");
        $("#chapterdl").append(chapternode);

    }
</script>

</body>
</html>