<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/js/jquery-easyui-1.5.5.4/themes/default/easyui.css" />
    <link rel="stylesheet" type="text/css" href="/js/jquery-easyui-1.5.5.4/themes/icon.css" />
    <script type="text/javascript" src="/js/jquery-easyui-1.5.5.4/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery-easyui-1.5.5.4/jquery.easyui.min.js"></script>
    <!-- 中文化 -->
    <script type="text/javascript" src="/js/jquery-easyui-1.5.5.4/locale/easyui-lang-zh_CN.js"></script>
</head>
<body>

    <div class="easyui-window">
        <p><input class="easyui-textbox" name="name" data-options="width:'300px'"/> </p>
        <p><input class="easyui-textbox" name="password" data-options="type:'password',width:'300px'"/> </p>

    </div>
</body>
</html>