<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>文件上传</title>
	<link rel="stylesheet" href="../js/webuploader/webuploader.css" />
	<style type="text/css">


		*{font-family: 微软雅黑}
		#theList{
			width: 80%;
			border: 1px solid #F2F2F2;
			box-shadow: 5px 5px 5px grey;
		}

		.percentage{
			height: 20px;
			width: 100%;
		}

		.percentage .bar{
			height: 20px;
		}
	</style>

</head>
<body>
<div id="uploader">
	<div id="operator">
		<div id="picker">选择文件</div>
		<div id="startupload">开始</div>
		<div style="clear:both"></div>
	</div>
	<table id="theList" cellpadding="0px" cellspacing="0px">
		<tr style="height: 50px; font-weight: bold">
			<td>文件名称</td><td>大小</td><td>类型</td><td>上传进度</td><td>操作</td>
		</tr>

	</table>

</div>

<script src="../js/webuploader/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/webuploader/md5.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/webuploader/webuploader.js" type="text/javascript" charset="utf-8"></script>



<script type="text/javascript">
    var userInfo = {userId:"kazaff", md5:""};   //用户会话信息
    var chunkSize = 5000 * 1024;        //分块大小
    var uniqueFileName = null;          //文件唯一标识符
	var md5Mark;



    var backEndUrl = '/admin/file/fileUpload';

    WebUploader.Uploader.register({
        "before-send-file": "beforeSendFile"
        , "before-send": "beforeSend"
        , "after-send-file": "afterSendFile"
    }, {
        beforeSendFile: function(file){
            //秒传验证
            var task = new $.Deferred();

            (new WebUploader.Uploader()).md5File(file,5*1024*1024).progress(function(percentage){

            }).then(function(val){
		/*	md5Mark=val;
                userInfo.md5 = val;*/
		md5Mark=   md5(''+userInfo.userId+file.name+file.type+file.lastModifiedDate+file.size);
                userInfo.md5= md5(''+userInfo.userId+file.name+file.type+file.lastModifiedDate+file.size);
                $.ajax({
                    type: "POST"
                    , url: backEndUrl
                    , data: {
                        status: "md5Check"
                        , md5: md5Mark
                    }
                    , cache: false
                    , timeout: 5000 //todo 超时的话，只能认为该文件不曾上传过
                    , dataType: "json"
                }).then(function(data, textStatus, jqXHR){
                    if(data.ifExist){   //若存在，这返回失败给WebUploader，表明该文件不需要上传
                        task.reject();

                        uploader.skipFile(file);
                        file.path = data.path;
                        UploadComlate(file);
                    }else{
                        task.resolve();
                        //拿到上传文件的唯一名称，用于断点续传
                        uniqueFileName = md5(''+userInfo.userId+file.name+file.type+file.lastModifiedDate+file.size);
                    }
                }, function(jqXHR, textStatus, errorThrown){    //任何形式的验证失败，都触发重新上传
                    task.resolve();
                    //拿到上传文件的唯一名称，用于断点续传
                    uniqueFileName = md5(''+userInfo.userId+file.name+file.type+file.lastModifiedDate+file.size);
                });
            });
            return $.when(task);
        }
        , beforeSend: function(block){

            uniqueFileName = md5(''+userInfo.userId+block.file.name+block.file.type+block.file.lastModifiedDate+block.file.size);

            //分片验证是否已传过，用于断点续传
            var task = new $.Deferred();
            $.ajax({
                type: "POST"
                , url: backEndUrl
                , data: {
                    status: "chunkCheck"
                    , name: uniqueFileName
                    , chunkIndex: block.chunk
                    , size: block.end - block.start
                }
                , cache: false
                , timeout: 1000 //todo 超时的话，只能认为该分片未上传过
                , dataType: "json"
            }).then(function(data, textStatus, jqXHR){

                if(data.ifExist){   //若存在，返回失败给WebUploader，表明该分块不需要上传
                    task.reject();
                }else{
                    task.resolve();
                }
            }, function(jqXHR, textStatus, errorThrown){    //任何形式的验证失败，都触发重新上传
                task.resolve();
            });

            return $.when(task);
        }
        , afterSendFile: function(file){
            var chunksTotal = 0;
            if((chunksTotal = Math.ceil(file.size/chunkSize)) > 1){
                //合并请求
                var task = new $.Deferred();
                uniqueFileName = md5(''+userInfo.userId+file.name+file.type+file.lastModifiedDate+file.size);

                    $.ajax({
                        type: "POST"
                        , url: backEndUrl
                        , data: {
                            status: "chunksMerge"
                            , name: uniqueFileName
                            , chunks: chunksTotal
                            , ext: file.ext
                            , md5: uniqueFileName
                            ,originalName:file.name
                        }
                        , cache: false
                        , dataType: "json"
                    }).then(function(data, textStatus, jqXHR){

                        //todo 检查响应是否正常

                        task.resolve();
                        file.path = data.path;
                        UploadComlate(file);

                    }, function(jqXHR, textStatus, errorThrown){
                        task.reject();
                    });

                    return $.when(task);



            }else{
                UploadComlate(file);
            }
        }
    });

    var uploader = WebUploader.create({
        swf: "Uploader.swf"
        , server: backEndUrl
        , pick: "#picker"
        , resize: false
        , dnd: "#theList"
        , paste: document.body
        , disableGlobalDnd: true
        , thumb: {
            width: 100
            , height: 100
            , quality: 70
            , allowMagnify: true
            , crop: true
            //, type: "image/jpeg"
        }
//				, compress: {
//					quality: 90
//					, allowMagnify: false
//					, crop: false
//					, preserveHeaders: true
//					, noCompressIfLarger: true
//					,compressSize: 100000
//				}
        , compress: false
        , prepareNextFile: true
        , chunked: true
        , chunkSize: chunkSize
        ,threads:1
        , formData: function(){return $.extend(true, {}, userInfo);}
        , fileNumLimit: 10
        , fileSingleSizeLimit: 1000 * 1024 * 1024
        , duplicate: true

    });

    uploader.on("fileQueued", function(file){

        $("#theList").append('<tr id="'+file.id+'">' +
            '<td><span>'+file.name+'</span></td><td><span>'+Math.ceil(file.size/1024)+'kb</span></td><td><span>'+file.type+'</span></td><td><div class="percentage"><div class="bar"></div></div></td><td></td>' +

            '</tr>');

        var delbutton =$("<span>").addClass("delbutton").html("取消").appendTo($("#theList td:last"));
        delbutton.click(function(){

            var fileName = md5(''+userInfo.userId+file.name+file.type+file.lastModifiedDate+file.size);


            uploader.cancelFile(file);
            uploader.removeFile(file,true);	//从上传文件列表中删除
            $.ajax({
                type: "POST",
                url: "/admin/file/removeFile",
                data: "fileName="+fileName+"&extension="+file.name.substring(file.name.lastIndexOf("." )),
                success: function(msg){

                }
            });



            $(this).parent().parent().remove();	//从上传列表dom中删除
        })


    });

    $("#startupload").click(function(){

        if(this.innerHTML=="开始") {
            this.innerHTML = "暂停";
            uploader.upload();

        }
        else if(this.innerHTML=="暂停"){
            uploader.stop(true);
            this.innerHTML="开始";
        }
    });


    //todo 如果要删除的文件正在上传（包括暂停），则需要发送给后端一个请求用来清除服务器端的缓存文件
    /*$("#theList").on("click", ".itemDel", function(){
        uploader.removeFile($(this).parent().attr("id"));	//从上传文件列表中删除

        $(this).parent().remove();	//从上传列表dom中删除
    });*/

    uploader.on("uploadProgress", function(file, percentage){
        $("#" + file.id + " .percentage .bar").css("width",Math.ceil(percentage * 100) + "%").css("background-color","#00a2d4");
        $("#" + file.id + " .percentage .bar").text(Math.ceil(percentage * 100) + "%");
    });

    function UploadComlate(file){


        $("#" + file.id + " .percentage").text("上传完毕");
        $(".itemStop").hide();
        $(".itemUpload").hide();
        $(".itemDel").hide();
    }
</script>
</body>
</html>
