<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.modou.elearning.mapper.AuthFunctionMapper" >
  <resultMap id="BaseResultMap" type="com.modou.elearning.pojo.AuthFunction" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="function_name" property="functionName" jdbcType="VARCHAR" />
    <result column="function_code" property="functionCode" jdbcType="VARCHAR" />
    <result column="function_description" property="functionDescription" jdbcType="VARCHAR" />
    <result column="function_url" property="functionUrl" jdbcType="VARCHAR" />
    <result column="function_generatemenu" property="functionGeneratemenu" jdbcType="VARCHAR" />
    <result column="function_zindex" property="functionZindex" jdbcType="INTEGER" />
    <result column="function_pid" property="functionPid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, function_name, function_code, function_description, function_url, function_generatemenu, 
    function_zindex, function_pid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.modou.elearning.pojo.AuthFunctionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from auth_function
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from auth_function
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from auth_function
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.modou.elearning.pojo.AuthFunctionExample" >
    delete from auth_function
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.modou.elearning.pojo.AuthFunction" >
    insert into auth_function (id, function_name, function_code, 
      function_description, function_url, function_generatemenu, 
      function_zindex, function_pid)
    values (#{id,jdbcType=VARCHAR}, #{functionName,jdbcType=VARCHAR}, #{functionCode,jdbcType=VARCHAR}, 
      #{functionDescription,jdbcType=VARCHAR}, #{functionUrl,jdbcType=VARCHAR}, #{functionGeneratemenu,jdbcType=VARCHAR}, 
      #{functionZindex,jdbcType=INTEGER}, #{functionPid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.modou.elearning.pojo.AuthFunction" >
    insert into auth_function
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="functionName != null" >
        function_name,
      </if>
      <if test="functionCode != null" >
        function_code,
      </if>
      <if test="functionDescription != null" >
        function_description,
      </if>
      <if test="functionUrl != null" >
        function_url,
      </if>
      <if test="functionGeneratemenu != null" >
        function_generatemenu,
      </if>
      <if test="functionZindex != null" >
        function_zindex,
      </if>
      <if test="functionPid != null" >
        function_pid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="functionName != null" >
        #{functionName,jdbcType=VARCHAR},
      </if>
      <if test="functionCode != null" >
        #{functionCode,jdbcType=VARCHAR},
      </if>
      <if test="functionDescription != null" >
        #{functionDescription,jdbcType=VARCHAR},
      </if>
      <if test="functionUrl != null" >
        #{functionUrl,jdbcType=VARCHAR},
      </if>
      <if test="functionGeneratemenu != null" >
        #{functionGeneratemenu,jdbcType=VARCHAR},
      </if>
      <if test="functionZindex != null" >
        #{functionZindex,jdbcType=INTEGER},
      </if>
      <if test="functionPid != null" >
        #{functionPid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.modou.elearning.pojo.AuthFunctionExample" resultType="java.lang.Integer" >
    select count(*) from auth_function
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update auth_function
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.functionName != null" >
        function_name = #{record.functionName,jdbcType=VARCHAR},
      </if>
      <if test="record.functionCode != null" >
        function_code = #{record.functionCode,jdbcType=VARCHAR},
      </if>
      <if test="record.functionDescription != null" >
        function_description = #{record.functionDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.functionUrl != null" >
        function_url = #{record.functionUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.functionGeneratemenu != null" >
        function_generatemenu = #{record.functionGeneratemenu,jdbcType=VARCHAR},
      </if>
      <if test="record.functionZindex != null" >
        function_zindex = #{record.functionZindex,jdbcType=INTEGER},
      </if>
      <if test="record.functionPid != null" >
        function_pid = #{record.functionPid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update auth_function
    set id = #{record.id,jdbcType=VARCHAR},
      function_name = #{record.functionName,jdbcType=VARCHAR},
      function_code = #{record.functionCode,jdbcType=VARCHAR},
      function_description = #{record.functionDescription,jdbcType=VARCHAR},
      function_url = #{record.functionUrl,jdbcType=VARCHAR},
      function_generatemenu = #{record.functionGeneratemenu,jdbcType=VARCHAR},
      function_zindex = #{record.functionZindex,jdbcType=INTEGER},
      function_pid = #{record.functionPid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.modou.elearning.pojo.AuthFunction" >
    update auth_function
    <set >
      <if test="functionName != null" >
        function_name = #{functionName,jdbcType=VARCHAR},
      </if>
      <if test="functionCode != null" >
        function_code = #{functionCode,jdbcType=VARCHAR},
      </if>
      <if test="functionDescription != null" >
        function_description = #{functionDescription,jdbcType=VARCHAR},
      </if>
      <if test="functionUrl != null" >
        function_url = #{functionUrl,jdbcType=VARCHAR},
      </if>
      <if test="functionGeneratemenu != null" >
        function_generatemenu = #{functionGeneratemenu,jdbcType=VARCHAR},
      </if>
      <if test="functionZindex != null" >
        function_zindex = #{functionZindex,jdbcType=INTEGER},
      </if>
      <if test="functionPid != null" >
        function_pid = #{functionPid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.modou.elearning.pojo.AuthFunction" >
    update auth_function
    set function_name = #{functionName,jdbcType=VARCHAR},
      function_code = #{functionCode,jdbcType=VARCHAR},
      function_description = #{functionDescription,jdbcType=VARCHAR},
      function_url = #{functionUrl,jdbcType=VARCHAR},
      function_generatemenu = #{functionGeneratemenu,jdbcType=VARCHAR},
      function_zindex = #{functionZindex,jdbcType=INTEGER},
      function_pid = #{functionPid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>